<template>
  <div class="col-xs-12 col-sm-6">
    <ul class="list-group">
      <ServerData v-for="item in servers" :server="item" :key="item.id"/>
    </ul>
  </div>
</template>

<script>
import  ServerData  from "./ServerData";
export default {
  data() {
    return {
      servers: [
        { id: 1, status: "a" },
        { id: 2, status: "Unknow" },
        { id: 3, status: "s" },
        { id: 4, status: "w" }
      ]
    };
  },
  components: {
    ServerData
  }
};
</script>

<style>
</style>
