<template>
  <li class="list-group-item" style="cursor: pointer" @click="updateServers">Server #{{ server }}</li>
</template>

<script>
import { EventBus } from "../../main";

export default {
  props: ["server"],
  methods: {
    updateServers() {
      EventBus.change(this.server);
    }
  }
};
</script>

<style>
</style>
